{% extends "projectApp/base.html" %}

{% block headContent %}
<style>
    #aboutDiv
    {
        width: 70%;
        margin: 0 auto;
        text-align: center;
    }

</style>
{% endblock %}

{% block aboutBlock %}
    <li class="active">
{% endblock %}

{% block content %}
    <div id = "aboutDiv">
        <p style="font-size:40px;">IssueHub</p>
        <h1>A Project for Software Engineering</h1>
        <h1>Mentor - Prof. Kauleshwar Prasad</h1>
        <br><br>
        <h3> Team Members </h3>
        <h4> Developer - Mohd Asif</h4>
        <h4> Designer  - Manjeet Kumar Gupta</h4>
        <h4> Designer  - Blesson Biju</h4>
        <br><br>

    </div>
{% endblock %}
