<!DOCTYPE html>
    {% load bootstrap3 %}
    {% load static %}
    <head>
        <link rel="stylesheet" type="text/css" href = "{% static 'bootstrap/3.1.1/css/bootstrap.min.css'%} " />
        {% block headContent %}{% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>
    {% block bodyBlock%}
    <body>
    {% endblock %}
        <nav class="navbar navbar-default" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">IssueHub</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                {% block homeBlock %}
                  <li>
                {% endblock %}
                    <a href="/">Home</a>
                  </li>
                {% block projectBlock %}
                  <li>
                {% endblock %}
                  <a href="/projects">Projects</a>
                  </li>
                {% block aboutBlock %}
                  <li>
                {% endblock %}
                  <a href="/about">About</a>
                  </li>


              </ul>

              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                  {% block profileBlock %}
                    <li>
                  {% endblock %}
                    <a href="/user/profile">Profile</a>
                  </li>

                  <li><a href="/user/logout">Logout</a></li>
                {% else %}
                  {% block loginBlock %}
                    <li>
                  {% endblock %}
                      <a href="/user/login"><b>Login</b></a>
                    </li>
                    {% block signupBlock %}
                    <li>
                    {% endblock %}
                      <a href="/user/signup">Sign Up</a>
                    </li>

                {% endif %}
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div id="content">
          {% block content %}{% endblock %}
        </div>
        <script src="{% static 'jquery-1.11.0.min.js'%}"></script>
        <script src="{% static 'bootstrap/3.1.1/js/bootstrap.min.js'%}"></script>
    </body>
</html>
